.aside_nav {
    height: 100%;
    width: fit-content;
    position: fixed;
    .aside_nav--main {
        font-size: 1.25rem;
        font-weight: 700;
        padding-left: 2.5rem;
        margin-top: 1.3rem;
        li {
            margin-top: .9rem;
        }
        a {
            color: $white;
            &:hover {
                color: $green-nmb;
            }
        }
    }
    .aside_nav--secondary {
        padding-left: 2.5rem;
        margin-top: 2.3125rem;
        li {
            margin-top: 1.1rem;
            display: flex;
            align-items: center;
        }
        a {
            color: $white;
            margin-left: .79rem;
            &:hover {
                color: $green-nmb;
            }
        }
    }
    .aside_nav--popular {
        padding-left: 2.7rem;
        font-size: 1.25rem;
        margin-top: 3.4375rem;
        li {
            margin-top: .95rem;
            display: flex;
            align-items: center;
            h4 {
                font-size: 1.375rem;
                color: $white;
            }
            a {
                color: $white;
                margin-left: .79rem;
                margin-top: .15rem;
                &:hover {
                    color: $green-nmb;
                }
            }
        }
    }
}