@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Exo', monospace;    
}

html, body{
    height: auto;
    max-width: 1494px;
    margin: auto;
}

p{
    color: $white;
}
 


