.modal-container {
    width: 67.25rem;
    height: 49.56rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1.5rem;
    display: block;
    color: $white;
    z-index: 1000000;
    background: #303030;
    .modal {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        background-size: cover;
        .modal--gradient {
            width: 100%;
            height: 100%;
            border-radius: 1.5rem;
            background: linear-gradient(180deg, rgba(48, 48, 48, 0.0001) 0%, #303030 65%);
            .modal_wrapper{
                display: flex;
                width: 100%;
                height: 100%;
                position: relative;
                padding: 2rem;

                .modal-cross-btn {
                    position: absolute;
                    right: 2rem;
                }
                .modal_wrapper_info{
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    overflow-y:scroll;

                    .modal_wrapper_info--icons{
                        margin-top: 5.8rem;
                        width: 25%;
                        display: flex;
                        justify-content: space-evenly;
                    }

                    .modal_wrapper_info-description{

                        p{
                            width: 95%;
                        }

                        .modal-gameTitle{
                            font-size: 3rem;
                            
                        }
                        .modal_wrapper_info-description--date{
                            margin: .5rem 0 1.5rem 0;
                            span{
                                width: fit-content;
                                background: $white;
                                color: black;
                                padding: 4px 14px;
                                border-radius: 12px;
                                margin-left: .5rem
                            }
                        }
                        .modal_buttons_container{
                            display: flex;
                            justify-content: space-between;
                            width: 79%;
                            .emptyButton{
                                @include emptyButton(14rem, $green-nmb, 1.5rem, transparent, 2px solid $green-nmb);
                                font-weight: 700;
                            }
                            .filledButton{
                                @include emptyButton(14rem, $white, 1.5rem, $green-nmb, 2px solid $green-nmb);

                                .buttonHeart{
                                    margin-left:.5rem;
                                }
                            }
                        }
                    }
                    .modal_wrapper_details{
                        display: flex;
                        margin-top: 1.5rem;

                        .details_box{
                            margin-top: 1rem;

                            .detail-title{
                                color: $grey-text;
                                font-size: 1rem;
                                font-weight: 500;
                            }
                            .detail-description{
                                margin-top: .4rem;
                                font-weight: 400;
                            }
                        }
                        .details_box--icon{
                            margin-top: 2rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 9rem;
                        }
                        .modal_wrapper_details--column2{
                            margin-left: 4rem;
                        }

                        a{
                            text-decoration: underline;
                            cursor: pointer;
                            color: $white;
                        }
                    }
                }
            }
            
        }
        .modal_wrapper_media{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            margin-top: 15rem;
            img{
                width: 24.5rem;
                object-fit: cover;
            }
            .modal_wrapper_media--small-preview{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                img{
                    width: 11.5rem;
                    height: 6.5rem;
                    margin: .5rem;
                    object-fit: cover;
                }
            }
        }
    }
}

.light{
    background: $white;
    color:#000;
    background: #F0F0F0;
}

.hidden {
    display: none;
}