
$grey-solid:#515151;
$grey-lighter:#8c8787;
$grey-card:#303030;
$grey-text:#939393;
$bg: #151515;
$green: #4CC986;
$icons-color:#5FE19B;
$green-nmb:#36B972;
$green-darker: #33875a;
$white:#ffff;
$black-ish: rgba(0,0,0,0.5);
$white-ish: rgba(255, 255, 255, 0.627);
