$red:#FB5F5F;
// Neutrals//
$white:#ffff;
$grey-text:#939393;
$white-ish: rgba(255, 255, 255, 0.627);
$grey-lighter:#8c8787;
$grey-solid:#515151;
$grey-card:#303030;
$black-ish: rgba(0, 0, 0, 0.5);
$bg: #151515;
$mobileNav:#2A2A2A;
// Greens // 
$green: #4CC986;
$icons-color:#5FE19B;
$green-nmb:#36B972;
$green-darker: #33875a;
// Light mode //
$bg-light:#E5E5E5;