@media only screen and (min-width: 480px) and (max-width: 1439px) {
    .game-card_container {
        grid-template-columns: repeat(auto-fill, 351px);
    }
}

@media only screen and (max-width: 1078px) {
    .header_second-page {
        .nav_top {
            justify-content: center;
            span {
                margin-left: 7.15rem;
            }
            .nav_top_user-profile,
            .logo--second-page {
                display: none;
            }
        }
    }
    .aside_nav {
        display: none;
    }
    .game-card_container {
        margin-left: 11rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
    .game-card_container {
        margin: 0 0 0 1rem;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1077px) {
    .game-card_container {
        margin: 0 0 0 4rem;
    }
}